
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <section class="container container-content mt-6 mr-6 ml-6">
<div class="columns">

<div class="column is-6 container-left">
  <%= image_tag("mobile-login-animate.svg", :alt => "rss feed") %>
</div>

<div class="column is-6 container-right">
<form class="new_user">
  <div class="field">
  <div class="control">
    <%= f.label :email, class:"label" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"input" %>
  </div>
  </div>

  <div class="field">
  <div class="control">
    <%= f.label :password, class:"label" do %>
    Password
    <em class="has-text-weight-light">(Minimum of 6 characters)</em>
    <% end %>
    <%= f.password_field :password, autocomplete: "new-password", class:"input" %>
  </div>
  </div>

  <div class="field">
  <div class="control">
    <%= f.label :password_confirmation, class:"label" do %>
    Confirm Password
    <% end %>
    
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"input" %>
  </div>
  </div>

  <div class="actions">
    <%= f.button :submit, class: 'button is-rounded login has-text-white', value: 'Sign up' do%>
      Sign-up
    <% end %>
  </div>
</form>
</div>
</div>
  </section>
<% end %>


