<%= form_with(model: [journal, task]) do |form| %>
  <% if task.errors.any? %>

        <section class="hero is-small is-danger container-errors mb-3">
      <div class="hero-body">
          <ul>
              <% task.errors.each do |field, error| %>
                  <li><b><%= field.upcase %></b> <%= error %>!</li>
              <% end %>
          </ul>
      </div>
      </section>
   
  <% end %>


  <div class="field">
  <div class="control has-icons-left has-icons-right">
    <%= form.text_field :name, placeholder: "Task Name", class: "input", autocomplete: :off %>
    <span class="icon is-left">
      <i class='bx bx-task is-size-4'></i>
    </span>
  </div>
  </div>

  <div class="field">
  <div class="control">
    <%= form.rich_text_area :description, placeholder: "Task Description", class: "textarea", autocomplete: :off, maxlength: 2500 %>
  </div>
  </div>

<div class="field">
<div class="control">

  <%= form.label :deadline, class:"has-text-white" do%>
  <span>Set Deadline:</span>
  <% end %>
  <%= form.date_field :deadline, class: "input" %>

</div>
</div>
  

  <div class="actions">
    <%= form.button class: "button start-now-two" do %> 
          <%= raw '<i class="fas fa-plus mr-3"></i>' if action_name.capitalize == 'Create' %>
          <%= raw '<i class="fas fa-plus mr-3"></i>' if action_name.capitalize == 'New' %>
          <%= raw '<i class="fas fa-edit mr-3"></i>' if action_name.capitalize == 'Update' %>
          <%= raw '<i class="fas fa-edit mr-3"></i>' if action_name.capitalize == 'Edit' %>
          <%= action_name.capitalize %> Task
        <% end %>

      <%= link_to journal do%>
        <div class="button start-now-three">
          <i class="fas fa-undo mr-2"></i> Cancel
        </div>
      <% end %>
    </div>
  </div>
<% end %>
