<p id="notice"><%= notice %></p> 

<p>
  <strong>Name:</strong>
  <%= @task.name %>
</p>

<%= link_to 'Edit', edit_journal_task_path(@journal, @task) %> 

<%= form_with(model: [@journal, @task, @description]) do |form| %>
  <%= form.submit "Add Paragraph", class: 'button is-primary' %>
<% end %>

