
<nav class="navbar has-shadow" role="navigation" aria-label="main navigation">
<div class="container mt-4 mb-4">
  <div class="navbar-brand is-flex is-align-items-center">

  <i class="fas fa-book-reader navbar-item title-icon is-size-3 logo"></i>
    <a class="navbar-item title-text has-text-weight-bold is-size-3 nav_icon" href="/">
      TaskGo
    </a>

    <a
      role="button"
      class="navbar-burger"
      aria-label="menu"
      aria-expanded="false"
      data-target="navbarBasicExample"
      id="burger"
    >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

<div class="navbar-menu" id='nav-links'>
    <div class="navbar-end">
      <div class="navbar-item">
        <% if user_signed_in? %>
          <div class="buttons">
            <%= link_to 'Dashboard', journals_path, class: 'navbar-item mr-2'%>
            <%= link_to 'New Journal', new_journal_path, class: 'navbar-item mr-3' %>
            <%= link_to destroy_user_session_path, method: :delete, class: 'navbar-item' do%>
              <i class="fas fa-sign-out-alt mr-1"></i> Sign-out
            <% end %>
          </div>
        <% else %>
        <div class="buttons">
          <%= link_to  new_user_registration_path, class: 'navbar-item mr-3' do%>
          <i class="fas fa-user-plus mr-1"></i> Register
          <% end %>

          <%= link_to new_user_session_path, class: 'navbar-item' do%>
            <i class="fas fa-sign-in-alt mr-1"></i> Sign-in
            <% end %>
        </div>
        <% end %>
      </div>
    </div>
</div>
  </div>
</nav>
</div>
