<%= form_with(model: journal) do |form| %>
  <% if journal.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(journal.errors.count, "error") %> prohibited this journal
        from being saved:
      </h2>

      <ul>
        <% journal.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-container">
    <div class="field mb-3">
      <%= form.label :name , class:"label"%>
      <%= form.text_field :name, class: 'control' %>
    </div>

    <div class="actions">
      <%= button_tag :submit, class:"button has-background-primary-dark has-text-light" do %>
        <% if action_name == 'new'%>
          <i class="fas fa-plus mr-3"></i>
          Create Journal
        <% elsif action_name == 'edit' %>
          <i class="fas fa-plus mr-3"></i>
          Update Journal
        <% end %>
      <% end %>

      <%= link_to journals_path do%>
        <div class="button has-background-danger-dark has-text-light">
          <i class="fas fa-undo mr-2"></i> Cancel
        </div>
      <% end %>
    </div>
  </div>
<% end %>
