<%= form_with(model: journal) do |form| %>
  <% if journal.errors.any? %>

        <section class="notification is-danger has-text-centered mt-3  mb-3">
      <div class="is-size-6 has-text-weight-bold has-text-centered">
          <ul>
              <% journal.errors.each do |field, error| %>
                  <li><b><%= field.upcase %></b> <%= error %>!</li>
              <% end %>
          </ul>
      </div>
      </section>
   
  <% end %>


  


    <div class="field mb-3">
    <div class="control has-icons-left has-icons-right">
      
      <%= form.text_field :name, placeholder: "Category Title", class: "input", autocomplete: :off %>
      <span class="icon is-left">
      <i class='bx bxs-pencil' ></i>
    </span>
    </div>
    </div>

    <div class="actions">

       <%= form.button class: "button start-now-two" do %> 
          <%= raw '<i class="fas fa-plus mr-3"></i>' if action_name.capitalize == 'Create' %>
          <%= raw '<i class="fas fa-plus mr-3"></i>' if action_name.capitalize == 'New' %>
          <%= raw '<i class="fas fa-edit mr-3"></i>' if action_name.capitalize == 'Update' %>
          <%= raw '<i class="fas fa-edit mr-3"></i>' if action_name.capitalize == 'Edit' %>
          <%= action_name.capitalize %> Category
        <% end %>

      <%= link_to journals_path do%>
        <div class="button start-now-three">
          <i class="fas fa-undo mr-2"></i> Cancel
        </div>
      <% end %>
    </div>

<% end %>
