

<div class="container tiles">
<div
  id="home-dashboard-top-statistics"
  class="box info-box has-text-white box-bg mt-4 has-text-weight-semibold is-flex is-align-items-center is-justify-content-space-between"
>
  <div class="is-size-4">
    <i class="fas fa-book mr-1" aria-hidden="true"></i>
    Your Journals
  </div>
  <div class="categories-progress-container">
    0 / 0 tasks are completed!
    <progress
      class="progress is-success journal-progress"
      value="0"
      max="0"
    ></progress>
  </div>
</div>



<div class="tile tile-container is-ancestor">
<% @journals.each do |journal| %>
  <div class="tile tile-item is-parent is-shady tile-color">
    <article class="tile is-child box has-background-black card-bg">
    <div class="tile-contents">
      <h3 class="title is-size-3 has-text-primary"><%= link_to journal.name, journal, class:"cardTitle card_title" %></h3>
      <p class="subtitle is-size-6 mb-4 has-text-black">
        <span class="mr-2">
          <i class="fas fa-clipboard-list mr-2 aria-hidden="true"></i>
          <%= journal.tasks.count %> tasks
        </span>
      </p>
      <p class="subtitle is-size-6 mb-6 has-text-grey-dark">
        <span class="mr-2">
          <i class="fas fa-clock mr-2 aria-hidden="true"></i>
          Started <%= time_ago_in_words(journal.created_at) %> ago
        </span>
      </p>
    </div>
      <div class="tile-actions is-flex is-justify-content-flex-end">
      <%= link_to edit_journal_path(journal), class:"button is-warning is-light has-text-warning action-tile-button mr-2" do%>
         <i class="fas fa-edit" aria-hidden="true"></i>
      <% end %>
      <%= link_to journal, method: :delete, data: { confirm: 'Are you sure?' }, class:"button is-danger is-light has-text-danger action-tile-button" do %>
        <i class="far fa-trash-alt" aria-hidden="true"></i>
      <% end %>
      </div>
      
    </article>
  </div>
  <% end %>
</div>


</div>
