

<section id="dashboard-top-card">
<div class="container tiles">
<div
  id="dashboard-top-card-statistics"
  class="box box2 info-box box-bg mt-4 has-text-weight-semibold is-flex is-align-items-center is-justify-content-center"
>
  <div class="is-size-3">

    <i class='bx bxs-book-content mr-1 logo-font is-size-4'></i>
    Task Categories
  </div>
  <% @journals.each do |journal| %>
  <div class="categories-progress-container">
  </div>
  <% end %>
</div>



<% if @journals.count == 0 %>
  <div class="empty-dashboard">
    <%= image_tag("empty-animate.svg", :alt => "rss feed") %>
    <p class="is-size-4 mt-5 has-text-weight-semibold has-text-white">
         You have no categories. 

         <%= link_to new_journal_path do %>
                   <span class="add-link">
                   Add one now!
                   </span> 
            <% end %>
      </p>
  </div>
<% end %>
<div class="tile tile-container is-ancestor">
<% @journals.each do |journal| %>


<% unless @journals.count == 0 %>
  
  <div class="tile tile-item is-parent is-shady tile-color">
    <article class="tile is-child box card-bg">
    <div class="tile-contents">
      <h3 class="title is-size-3 cardTitle card_title">
      <%= journal.name %></h3>
      <p class="subtitle is-size-6 mb-4 has-text-grey-light">
        <span class="mr-2">
          <i class="fas fa-clipboard-list mr-2 aria-hidden="true"></i>
          <% if journal.tasks.count == 1 %>
            
          <%= journal.tasks.count %> task
          <% else %>
          <%= journal.tasks.count %> tasks
          <% end %>
        </span>
      </p>
      <p class="subtitle is-size-6 mb-6 has-text-grey">
        <span class="mr-2">
          <i class="fas fa-clock mr-2 aria-hidden="true"></i>
          Started <%= time_ago_in_words(journal.created_at) %> ago
        </span>
      </p>
    </div>
      <div class="tile-actions is-flex is-justify-content-flex-end">
      <%= link_to journal, class:"button has-text-grey-lighter mr-2" do %>
      <i class='bx bxs-widget is-size-5' ></i>
      <% end %>
      <%= link_to edit_journal_path(journal), class:"button  has-text-warning action-tile-button mr-2" do%>
         <i class='bx bxs-edit is-size-5' ></i>
      <% end %>
      <%= link_to journal, method: :delete, data: { confirm: 'Are you sure?' }, class:"button has-text-danger" do %>
        <i class='bx bxs-trash is-size-5' ></i>
      <% end %>
      </div>
      
    </article>
  </div>
<% end %>


  <% end %>
</div>


</div>
</section>
