
<section id="home-dashboard-top">
<div class="container tiles">
<div
  id="task_box"
  class="box info-box has-text-white box-bg mt-4 has-text-weight-semibold is-flex is-align-items-center is-justify-content-space-between"
>
  <div class="is-size-4">
    <i class='bx bx-book-reader mr-1 icon-color logo-font'></i>
    <%= @journal.name %>
    
  </div>
  <div class="task-progress-container is-flex">
      <div class="mr-3 progress-container">
      <%# <span class="has-text-black"> %>
        0 / 0 tasks are completed!
      <%# </span> %>
        <progress class="progress is-success journal-progress" value="0" max="0"></progress>
      </div>
      <div>

        <%= link_to new_journal_task_path(@journal), class: 'button start-now-four' do %>

          <i class="fas fa-plus mr-3" aria-hidden="true"></i> Task
        <% end %>
      </div>
    </div>
  </div>
<div class="tile tile-container is-ancestor">
<% @journal.tasks.each do |task| %>
  <div class="tile tile-item is-parent is-shady tile-color">
    <article class="tile is-child box card-bg"  id="task_box">
    <div class="tile-contents">
      <h3 class="title is-size-3 cardTitle card_title">
      <%= task.name %></h3>
      <p class="subtitle is-size-6 mb-4 has-text-grey-light">
        <span class="mr-2">
          <i class="fas fa-clipboard-list mr-2 aria-hidden="true"></i>
          <%= truncate(strip_tags(task.description.to_s), length: 100) %>
        </span>
      </p>
      <p class="subtitle is-size-6 mb-6 has-text-grey">
      
        <span class="mr-2">
          <i class="fas fa-clock mr-2 aria-hidden="true"></i>
          
        </span>
      </p>
    </div>
      <div class="tile-actions is-flex is-justify-content-flex-end">
      <%= link_to edit_journal_task_path(@journal, task), class:"button  has-text-warning action-tile-button mr-2" do%>
         <i class='bx bxs-edit is-size-5' ></i>
      <% end %>
      <%= link_to journal_task_path(@journal, task), method: :delete, data: { confirm: 'Are you sure?' }, class:"button has-text-danger" do %>
        <i class='bx bxs-trash is-size-5' ></i>
      <% end %>
      </div>
      
    </article>
  </div>
  <% end %>
</div>
</div>


</section>
