<p id="notice"><%= notice %></p>

<div class="container">
<div
  id="home-dashboard-top-statistics"
  class="box has-text-white has-text-weight-semibold is-flex is-align-items-center is-justify-content-space-between box-bg"
>
  <div class="is-size-4">
    <i class="fas fa-book-open mr-1" aria-hidden="true"></i>
    <%= @journal.name %>
  </div>
  <div class="task-progress-container is-flex">
      <div class="mr-3 progress-container">
        0 / 0 tasks are completed!
        <progress class="progress is-success journal-progress" value="0" max="0"></progress>
      </div>
      <div>

        <%= link_to new_journal_task_path(@journal), class: 'button is-info' do %>

          <i class="fas fa-plus mr-3" aria-hidden="true"></i> Task
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= link_to 'Edit', edit_journal_path(@journal) %> |
<%= link_to 'Back', journals_path %>


<table class="table is-bordered is-fullwidth">
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>User</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @journal.tasks.each do |task| %>
      <tr>
        <td><%= task.position %></td>
        <td><%= link_to task.name, journal_task_path(@journal, task) %></td>
        <td><%= link_to 'Edit', edit_journal_task_path(@journal, task) %></td>
        <td>
          <%= link_to 'Destroy', journal_task_path(@journal, task), method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br/>
</div>