<!DOCTYPE html>
<html>
  <head>
    <title>AlexJournal</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
      integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk"
      crossorigin="anonymous"
    />
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>

    <%# <script src="./assets/index.js" defer></script> %>
  </head>

  <body>
    <%= render 'shared/navbar' %>

    <div class="container">
      <%= yield %>
    </div>
    <%# <footer class="container">
      <div class="column is-12 my-5 has-text-centered content has-text-grey-light">
        <p>© 2021 Journal Project</p>
      </div>
    </footer> %>
    

    <%= javascript_pack_tag 'index' %>
  </body>
</html>
